.card{
  background-color: $gray-800;
  border: 1px solid $gray-500;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-title{
  color: $gray-100;
  margin-bottom: 2px;
}

.card-subtitle{
  color: $gray-500
}

.card-text{
  color: $gray-200;
  margin-bottom: 5px;
}

.card-date{
  color: $gray-500;
  font-size: 0.9rem;
  padding-top: 10px;
  float: right;
}

.note-date{
  padding: 5px;
  color: $gray-500;
  font-size: 1rem;
}

.card-link{
  color: $gray-500;
  font-size: 0.9rem !important;
}

.card-tags{
  color: $gray-500;
  margin-bottom: 5px;
}

.preview-txt{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: $grid-sm){
  .card{
    margin-top: 2px;
    margin-bottom: 2px;
  }
}