.ql-stroke{
  stroke: #e9ecef
}
.ql-snow{
  stroke: #e9ecef;
  margin: 1px;
}

.ql-snow .ql-stroke{
  stroke: #e9ecef !important
}

.ql-picker-label{
  color: #e9ecef;
}

.ql-tooltip{
  width: 100%;
  top: 28px;
  left: 0px !important;
}

[data-video="Embed URL"]{
  width: calc(100% - 110px) !important;
}