//variables at:  "../../node_modules/bootstrap/scss/variables"

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #181a1b !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$dark-red:     #2c0509 !default;
$dark-blue:     #0b052c !default;
$pre-bg: #23241f;



$theme-colors:(
    "primary":    $gray-900,
    //"secondary":  $secondary,
    //"success":    $success,
    //"info":       $info,
    //"warning":    $warning,
    //"danger":     $danger,
    //"light":      $light,
    //"dark":       $dark
);

$enable-rounded: false;
$body-bg: $gray-800;
$text-muted: $gray-600 !default;

p, h1, h2, h3, h4, h5, h6{
  color: $gray-200;
}


/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px $gray-200; 
  //border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-800; 
  //border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-600; 
}